<html>
	{% include commonHead.html %}
	<body>
		<div class="maskView cover-view-up" id="maskView">
			<div class="headTitle headTitle-cover-view-up">
				<a href="http://sunjk.so">{{ page.blogName }}</a>
				<span class="rightTitle">
					zhouchuang@enice.com.cn
				</span>
			</div>
			<div class="welcome hidden">
				{{ page.welcome }}
			</div>
			<div class="actionButton hidden">
				<a href="/#blog" class="blogButton">Enter the blog ></a>
			</div>
		</div>

		{% include navigation.html %}
		
		<div class="desciption">
			<a href="/#blog">All Blogs</a> 
			{% if page.category %}
				-> <a href="/category/{{ page.category_en }}"> {{ page.category }} </a>
			{% endif %}
			{% if page.title %}
				-> <a href="#"> {{ page.title }} </a>
			{% endif %}
		</div>
		<div class="mainContent">
			<div class="article">
			<div class="article_title"><a>{{ page.title }}</a></div>
			<div class="article_from"><span><a href="/category/{{ post.category_en }}">{{ page.category }}</a></span></div>
			<div class="article_content">
				{{ content }}
			</div>
			<div class="article_time_btn"> • <span>{{ page.date | date_to_string }}</span></div>
			</div>
		</div>
		
    <div class="footer">
    	© 2015/05/10 - Create by SunJK. <br/>Theme design refrence apple document.
    </div>
		<script type="text/javascript">
				$(document).ready(function() {
					$('.navigation #categoryNavi').addClass('choose');
					$('.headTitle').css('opacity', '1');
					initCss();
				});
		</script>
	</body>
</html>
