<html>
	{% include commonHead.html %}
	<body>
		<div class="maskView cover-view-up" id="maskView">
			<div class="headTitle headTitle-cover-view-up">
				<a href="http://sunjk.so">{{ page.blogName }}</a>
				<span class="rightTitle">
					{{ page.email }}
				</span>
			</div>
			<div class="welcome hidden">
				{{ page.welcome }}
			</div>
			<div class="actionButton hidden">
				<a href="/#blog" class="blogButton">Enter the blog ></a>
			</div>
		</div>
		
		{% include navigation.html %}
		
		<div class="desciption">
			<a href="/#blog">All Blogs</a>
			{% if page.categoryName %}
				-> <a href="/category/{{ page.categoryName }}">{{ page.categoryName }}</a>
			{% endif %}
			
		</div>
		<div class="mainContent">
			{{ content }}
		</div>
			
    <div class="footer">
    	© 2015/05/10 - Create by SunJK. <br/>Theme design refrence apple document.
    </div>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.navigation #categoryNavi').addClass('choose');
				$('.headTitle').css('opacity', '1');
				$('.welcome').css('opacity', '1');
				initCss();
			});
		</script>
	</body>
</html>
