<html>
	{% include commonHead.html %}
	<body>
		<div class="maskView" id="maskView">
			<div class="headTitle">
				<a href="http://sunjk.so">{{ page.blogName }}</a>
				<span class="rightTitle hidden">
					{{ page.email }}
				</span>
			</div>
			<div class="welcome">
				{{ page.welcome }}
			</div>
			<div class="actionButton">
				<a href="/#blog" class="blogButton">Enter the blog ></a>
			</div>
		</div>
		
		{% include navigation.html %}
		
		<div class="desciption">
			<a href="/#blog">All Blogs</a>
			{% if page.categoryName %}
				-> <a href="/category/{{ page.categoryName }}">{{ page.categoryName }}</a>
			{% endif %}
			
		</div>
		<div class="mainContent">
			{{ content }}
		</div>
			
    <div class="footer">
    	© 2015/05/10 - Create by SunJK. <br/>Theme design refrence apple document.
    </div>
		<script type="text/javascript">
			$(document).ready(function() {
					$('.headTitle').css('opacity', '1');
					$('.welcome').css('opacity', '1');
					animationCoverUp();
				});
		</script>
	</body>
</html>
