<html>
	{% include commonHead.html %}
	<body>
		<div class="maskView" id="maskView">
			<div class="headTitle">
				<a href="http://sunjk.so">{{ page.blogName }}</a>
				<span class="rightTitle hidden">
					{{ page.email }}
				</span>
			</div>
			<div class="welcome">
				{{ page.welcome }}
			</div>
			<div class="actionButton">
				<a href="/#blog" class="blogButton">Enter the blog ></a>
			</div>
		</div>

		{% include navigation.html %}
		
		<div class="desciption">
			<a href="/#blog">All Blogs</a>
		</div>
		
		<div class="mainContent">
			{{ content }}
		</div>
			
    <div class="footer hidden">
    	© 2015/05/10 - Create by SunJK. <br/>Theme design refrence apple document.
    </div>
		<script type="text/javascript">
		$(document).ready(function() {
			
			$('.navigation #blogNavi').addClass('choose');
			
			if (!window.location.hash) {
				var headTitle = document.querySelector('.headTitle');
				var welcome = document.querySelector('.welcome'); 
				$('.headTitle').css('-webkit-animation','fadinTitle 0.5s ease-out 1');
				$('.welcome').css('-webkit-animation','fadinTitle 1s ease-out 0.5s 1');
				headTitle.addEventListener("webkitAnimationEnd", function(){ 
					//动画结束时事件 
					$('.headTitle').css('opacity', '1');
				}, false); 	
				welcome.addEventListener("webkitAnimationEnd", function(){ 
					//动画结束时事件 
					$('.welcome').css('opacity', '1');
				}, false);
			}
			else {
				$('.headTitle').css('opacity', '1');
				$('.welcome').css('opacity', '1');
			}
			
		});
		</script>
	</body>
</html>
